"Chapter 7 - Scroll Views.xcodeproj/project.xcworkspace/xcuserdata/danielw.xcuserdatad/UserInterfaceState.xcuserstate"
.DS_Store
"Chapter 7 - Scroll Views.xcodeproj/project.xcworkspace/xcuserdata/"
Chapter 7 - Scroll Views.xcodeproj/project.xcworkspace/xcuserdata/
Chapter 7 - Scroll Views.xcodeproj/xcuserdata/danielw.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist